.posit{
    justify-content: center;
    align-items: center;
}
.config-foto{
    width: 40%;
    height: 10rem;
    margin: auto;
    margin-bottom: 15rem;
}
.imagem{
    background-image: url(foto-perfil.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin: auto;
    margin-top: 3rem;
    background-size: contain;
}
.descricao{
    max-width: 50rem!important;
    min-height: 20rem!important;
    margin: auto;
    position: relative;
    margin-top: 5rem!important;
}
.dados{
    margin-bottom: 20px;
}
.formatoA{
    text-decoration: underline;
    color: #000000b0;
    text-transform: capitalize;
}